{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}

   <div class=" mt-10 d-flex  justify-content-center align-items-center" >
    <div style="width:50% ; margin:auto;padding:0;">
        <h1>Update you profile</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    <div>
    
    
</div>

{% endblock %}