

<!-- Modal -->
<div class="modal fade " id="config_user" tabindex="-1" aria-labelledby="config_user" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title " id="logout">Configuration d'un utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <center><h6>Donner un rôle à un utilisateur</h6></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Annuler</button>
        <a class="btn btn-primary btn-sm" href="#" >Valider</a>
    </div>
  </div>
</div>