

<!-- Modal -->
<div class="modal fade " id="logout" tabindex="-1" aria-labelledby="logout" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title " id="logout">Déconnexion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <center><h6>Voulez-vous vraiment vous déconnecter</h6></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Non</button>
        <a class="btn btn-primary btn-sm" href="{{path('app_logout')}}" >déconnecter</a>
        
    </div>
  </div>
</div>