
<!-- Modal -->
<div class="modal fade modal-lg" id="remarque{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remarque</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           {{form(remarqueForm , {'action': path('app_remarquer', {'id': user.id})}  )}}
                
                
           

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Fermer</button>
        {# <a class="btn btn-success btn-sm" type="submit " >Valider</a> #}
        
    </div>
  </div>
</div>